@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  font-family: "Merriweather", serif;
}
/* banner-container start here */
.banner-container {
  max-width: 1320px;
  margin: 0 auto;
  /* border: 2px solid red; */
  background: rgba(0, 0, 0, 0.5);
  min-height: 600px;
  margin-top: 20px;
  background-image: url(../images/Banner\ Image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  border-radius: 16px;
}
.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
  align-items: center;
}
.banner-content p,
h1 {
  color: #fff;
}
.banner-content p {
  font-size: 32px;
  font-weight: 400;
}
.banner-content h1 {
  font-size: 72px;
  font-weight: 900;
}
